################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
parts = part
[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/distfiles/libjpeg-turbo-1.3.0.tar.gz
md5sum = e1e65cc711a1ade1322c06ad4a647741
configure-options=--with-jpeg8
configure-options-darwin=--host x86_64-apple-darwin
[mirrors]
gentoo =gentoo.tiscali.nl
