################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
parts = part
[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://www.ijg.org/files/jpegsrc.v8c.tar.gz
md5sum =a2c10c04f396a9ce72894beb18b4e1f9




